@import "../base/mixins";

.articles-list {
  display: flex;
  justify-content: space-between;
  font-family: $font-spaced;

  &__btn-group {
    display: flex;
    * {
      padding: 0 1rem;
    }
    @include btnUnderline(0);
  }

  &__date-time {
    &-time {
      background-color: $color-standout;
      color: $text-primary-light;
      padding: .4rem 1rem;
    }
  }
}