@import '../base/mixins';

.articles-display {
  padding: 3.7rem 0;
  display: flex;

  @media only screen and (min-width: 999px) and (max-width: 1300px) {
   font-size: 80%;
  }

  @media only screen and (max-width: 1000px) {
    display: block;
  }

  //articles container
  &__container {
    width: 65%;

    @media only screen and (max-width: 1000px) {
      width: 100%;
    }


    //section title
    h2 {
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 2.4rem;

      @media only screen and (max-width: 500px) {
        display: block;
      }
    }
  }

  &__content {
    width:100%;
    max-height: 108.65rem;
    height: 113.6rem;
    overflow-y: auto;
    opacity: 1;
    transition: opacity .25s ease-in;

    @media only screen and (max-width: 550px) {
      max-height: none;
      height: auto;
      overflow-y: hidden;
      background-color: rgba($text-neutral-light, .2);
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $bg-secondary-neutral-dark;
    }

    &-category {
      background-color: $bg-primary-neutral;
      color: $text-primary-light;
      padding: 0.6rem 1.6rem;
    }

    &-text {
      letter-spacing: 0.2rem;
      font-size: 2rem;
      padding-left: 2rem;

      @media only screen and (max-width: 550px) {
        display: block;
      }
    }
  }

  //article wrapper
  &__wrap {
    display: flex;
    position: relative;
    height: 25.4rem;

    @media only screen and (max-width: 550px) {
      height: auto;
      flex-direction: column;
      background-color: $text-primary-light;
      margin: 2rem;
    }

    &:not(:first-child) {
      margin-top: 2.4rem;
    }

    &__img-container {
      width: 40%;
      height: auto;

      @media only screen and (max-width: 550px) {
        width: 100%;
        height: auto;
      }


      &-img {
        width: 40%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        transition: all .2s ease-in;

        @media only screen and (max-width: 550px) {
          position: relative;
          width: 100%;
          height: auto;
        }
      }

      &:hover &-img{
        width: auto;
        z-index: 2;
        right: 50%;
        transform: translate(50%, 0%);

        @media only screen and (max-width: 550px) {
          position: relative;
          width: 100%;
          height: auto;
        }
      }
    }

    &__img-container:hover ~ &__text{
      opacity: 0;

      @media only screen and (max-width: 550px) {
        opacity: 1;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      padding: .8rem 3rem;
      transition: all .3s ease-in;

      @media only screen and (max-width: 550px) {
        width: 100%;
        height: auto;
        font-size: 1.4rem;
      }

      @media only screen and (min-width: 800px) and (max-width: 1000px) {
      font-size: 1.4rem;
    }


      &-title {
        display: table;
        width: max-content;
        font-family: $font-spaced;
        text-transform: uppercase;
        @include headerUnderline($text-primary-dark);

        @media only screen and (max-width: 550px) {
          margin-bottom: 2rem;
        }
      }

      &-description {
        line-height: 2.2;
        font-weight: 700;
        color: $text-article-content;
      }
    }

    @include btnUnderline(.5rem);
    &-button {
      display: table;
      width: max-content;
      font-size: 1.2rem;
      font-weight: 700;
      color: $text-neutral-dark;
    }
  }


  //sidebar / twitter feed
  &__sidebar { //outer container
    width: 41.8rem;
    padding-left: 3rem;

    @media only screen and (max-width: 1000px) {
      width: 100%;
      padding-left: 0;
      margin-top: 3rem;
    }

    &__heading {  //section title
      background-color: $color-standout;
      font-weight: 400;
      border-bottom: 1px solid $text-primary-light;
      display: flex;
      align-items: center;

      &__search-button {
        background-color: $color-standout;
        border: none;
        padding: 1.2rem;
        color: #dddde7;
        font-size: 1.5rem;
        z-index:10;

        &-spinner {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:focus{
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &__search-input{
        border: none;
        transition: all .5s ease-in-out;
        padding: 0 1rem;
        margin-right: 1rem;
        width: 100%;
        height: 3rem;
        z-index: 0;

        &:focus{
          outline: none;
        }
      }
    }

    &__container { //tweet container
      position: relative;
      overflow: hidden;
      min-height: 11rem;

      width: 100%;
      z-index: 1;

      &__ul {
        position: absolute;
        width: 100%;
        opacity: 1;
        top: 0;
        transition: opacity 0.2s ease-in;
      }

      &-news {
        display: grid;
        grid-template-columns: min-content minmax(min-content, 1fr);
        align-items: center;
        background-color: $bg-primary-neutral;
        color: $text-primary-light;
        border-bottom: 1px solid $text-neutral-light;

        &-img {
          grid-column: 1 / 1;
          grid-row: 1 / 3;
          width: 7rem;
          height: 7rem;
          margin: 2rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        &-title {
          grid-column: 2 / 2;
          grid-row: 1 / 1;
          line-height: 1;
          padding-top: 1rem;
          align-self: end;
        }

        &-text {
          grid-column: 2 / 2;
          grid-row: 2 / 2;
          line-height: 1.2;
          align-self: start;
          padding: 1rem 1rem 1rem 0;
          font-size: 1.4rem;
          color: $text-neutral-light;

          @media only screen and (max-width: 1000px) {
            font-size: 98%;
          }
        }
      }
    }
  }
}

.retweet {
  color: $text-twitter-blue !important;
}

.link {
  color: $text-twitter-blue !important;
  font-size: 1.2rem;
}

.hashtag {
  color: $color-standout !important;
}

.horizontalEllipsis {
  color: $text-primary-light;
}










