@import '../base/mixins';

.breaking {
  display: flex;
  margin: 3.6rem 0 2.4rem 0;
  font-size: 1.6rem;
  height: 4rem;

  &__title {
    background-color: $color-standout;
    color: $text-primary-light;
    padding: 0 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__news {
    display: flex;
    flex:1;
    justify-content: space-between;
    padding: 0 1.6rem;
    background-color: $bg-secondary-neutral-dark;
    color: $text-primary-light;

    &__text {
      position: relative;
      overflow: hidden;
      width: 100%;
      z-index: 1;

      &__ul {
        position: absolute;
        width: 100%;
        transition: transform .5s ease-in;
      }

      &-title {
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
      }

      &-content {
        font-size: 1.6rem;
        font-weight: 400;
        color: $text-neutral-light
      }
    }

    &__arrows {
      @include resetArrow($text-neutral-light, $text-primary-light, 1.8rem);
      width: 2.7rem;
    }
  }
}