@import '../base/mixins';

.breaking {
  display: flex;
  margin: 3.6rem 0 2.4rem 0;
  font-size: 1.6rem;
  height: 4rem;
  overflow: hidden;

  &__title {
    background-color: $color-standout;
    color: $text-primary-light;
    padding: 0 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__news {
    display: flex;
    flex:1;
    justify-content: space-between;
    padding: 0 1.6rem;
    background-color: $bg-secondary-neutral-dark;
    color: $text-primary-light;

    &__text {
      overflow: hidden;
      position: relative;


      &__ul {
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s;
        transform: translateX(0);

        &-li{
          display: block;
        }
      }

      &-title {
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
      }

      &-content {
        font-size: 1.6rem;
        font-weight: 400;
        color: $text-neutral-light
      }
    }

    &__arrows {
      @include resetArrow($text-neutral-light, $text-primary-light, 1.8rem);
    }
  }
}