.header-underlay {
  grid-area: 5 / 1 / 5 / 11;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: $text-primary-light;
  text-align: center;
  margin-top: 5%;
  line-height: 1.2;

  @media only screen and (max-width: 850px) {
    margin-top: 10%;
    padding: 0 1rem 0 1rem;
    font-size: 1rem;
  }


  &__sub {
    display: block;
    font-weight: 400;
  }

  &__primary {
    text-transform: uppercase;
    font-size: 5rem;
    display: block;
    margin-top: 3rem;

    @media only screen and (max-width: 850px) {
    font-size: 3rem;
  }

    &-standout {
      color: $color-standout;
    }
  }

  &__news-snippet {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    margin-top: 4rem;
    height: 7.5rem;

    &__ul {
      position: absolute;
      width: 100%;

      &-li {
        opacity: 0;
        transition: opacity 1s ease-in;

        @media only screen and (max-width: 850px) {
          height: 7.5rem;
        }

        &-title {
          margin: 0 0 1rem 0;
          text-transform: uppercase;
        }

        &-info {
          letter-spacing: 0.2rem;
          line-height: 2rem;
          font-weight: 700;

          @media only screen and (max-width: 850px) {
            display: none;
          }
        }
      }
    }
  }



}