.top-menu__underlay {
  background-color: $bg-primary-neutral;
  grid-area: 1 / 1 / 1 / 15;
}

.top-menu {

  color: $text-neutral-dark;
  display: flex;


  a {
    padding: 0 1.25rem;
    border-left: 1px solid #4c4c59;

    @media only screen and (max-width: 850px) {

      &:last-child {
        border-right: 1px solid #4c4c59;
      }
    }
  }

  a:hover,
  a:active {
    color: $text-primary-light;
  }

  &__icons {
    display:flex;

    a:hover,
    a:active {
      color: $text-primary-light;
    }

    a:nth-child(1):hover {
      background-color: $linked-in;
    }
    a:nth-child(2):hover {
      background-color: $github;
    }
    a:nth-child(3):hover {
      background-color: $stack-overflow;
    }
  }

  &__phone,
  &__email {

    @media only screen and (max-width: 850px) {
      display: none;
    }

    display:flex;
    i {
      padding-right: 0.5rem;
    }
  }

  &__search {
    display:flex;
    justify-content: flex-end;
    position: relative;

    &-button {
      background-color: $color-standout;
      border: none;
      padding: 1.2rem;
      color: #dddde7;
      font-size: 1.5rem;
      z-index:10;

      &:focus{
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &:hover &-input {
      width: 20rem;
      cursor: pointer;
    }

    &-input{
      border: none;
      transition: all .5s ease-in-out;
      position: absolute;
      padding: 0 1rem;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      z-index: 0;

      &:focus{
        outline: none;
        width: 20rem;
      }
    }
  }
}