@import "../base/mixins";

.videos-underlay {
  grid-area: 10 / 1 / 10 / 11;
  background-color: $bg-secondary-standout-dark;
  height: 100%;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  &__main {
    display: table;
  }

  &__top,
  &__bottom {
    margin: 0 0 2rem 2rem;
  }

  &__sources {
    order: 1;
    margin: 0 0 2rem 2rem;
    color: $text-neutral-light;
    font-weight: 400;
    max-width: 30rem;

    @include headerUnderline($text-neutral-light)
  }

  @media only screen and (max-width: 1300px) {
    &__main {
      margin-top: 2rem;
    }

    &__sub {
      width: 100%;

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      &__top {
        margin: 0 0 2rem 0;
      }
    }
  }

  @media only screen and (max-width: 950px) {

    &__main {
      position: relative;
      width: 100%;
      padding: 30%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column-reverse;

    &__main {
      margin: 0 0 2rem 0;
    }

    &__sub {
      margin-top: 2rem;

      h3 {
        display: none;
      }

      &-wrapper {
        justify-content: center;
      }
    }

    &__top,
    &__bottom {
      margin-left: 0;
      position: relative;
      width: 100%;
      padding: 30%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }


}