.container{
  display: grid;
  grid-template-rows: [top-menu] auto [logo] 13rem [categories] auto [countries] auto [header] 40rem [breaking] auto [headlines-display] 60rem [articles] minmax(60rem, auto) [featured] 25rem [videos] 60rem [footer] 30rem [footer-end];
  grid-template-columns: 1fr repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) 1fr;
}


.top-menu__wrapper-left {
  grid-area: 1 / 2 / 1 / 6;
}

.top-menu__search {
  grid-area: 1 / 8 / 1 / 10;
}

.logo-layout {
  grid-area: 2 / 2 / 2 / 4;
}

.logo-right {
  grid-area: 2 / 5 / 2 / 10;
}

.headlines-list {
  grid-area: 3 / 2 / 3 / 10;
}

.articles-list {
  grid-area: 4 / 2 / 4 / 10;
}

.header {
  grid-area: 5 / 2 / 5 / 10;
}

.breaking {
  grid-area: 6 / 2 / 6 / 10;
}

.headlines-display {
  grid-area: 7 / 2 / 7 / 10;
}

.articles-display {
  grid-area: 8 / 2 / 8 / 10;
}

.featured {
  grid-area: 9 / 2 / 9 / 10;
}

.videos {
  grid-area: 10 / 2 / 10 / 10;
}

.footer {
  grid-area: 11 / 2 / 11 / 10;
}