@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a,
a:link,
a:active,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #49494d;
  font-weight: 400;
  line-height: 4rem;
  font-size: 1.45rem; }

#articles {
  width: 25rem; }
  #articles img {
    width: 100%; }

.headlines {
  display: flex; }

.article-wrapper {
  width: 20rem; }
  .article-wrapper__headline img {
    width: 100%; }

.top-menu__underlay {
  background-color: #2c2c34;
  grid-area: 1 / 1 / 1 / 15; }

.top-menu {
  color: #BBBABB;
  display: flex; }
  .top-menu a {
    padding: 0 1.25rem;
    border-left: 1px solid #4c4c59; }
  .top-menu a:hover,
  .top-menu a:active {
    color: #fff;
    cursor: pointer;
    transition: all .2s; }
  .top-menu__icons {
    display: flex; }
    .top-menu__icons a:hover,
    .top-menu__icons a:active {
      color: #fff; }
    .top-menu__icons a:nth-child(1):hover {
      background-color: #0077b5; }
    .top-menu__icons a:nth-child(2):hover {
      background-color: #4078c0; }
    .top-menu__icons a:nth-child(3):hover {
      background-color: #f48024; }
  .top-menu__phone, .top-menu__email {
    display: flex; }
    .top-menu__phone i, .top-menu__email i {
      padding-right: 0.5rem; }
  .top-menu__search {
    display: flex;
    justify-content: flex-end;
    position: relative; }
    .top-menu__search-button {
      background-color: #d4000e;
      border: none;
      padding: 1.2rem;
      color: #dddde7;
      font-size: 1.5rem;
      z-index: 10; }
      .top-menu__search-button:focus {
        outline: none; }
      .top-menu__search-button:hover {
        cursor: pointer; }
    .top-menu__search:hover .top-menu__search-input {
      width: 20rem;
      cursor: pointer; }
    .top-menu__search-input {
      border: none;
      transition: all .5s ease-in-out;
      position: absolute;
      padding: 0 1rem;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      z-index: 0; }
      .top-menu__search-input:focus {
        outline: none;
        width: 20rem; }

.logo-container {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.logo-left {
  grid-area: 1 / 1 / 1 / 2;
  display: flex; }
  .logo-left__logo {
    align-self: center; }
  .logo-left__text-container {
    font-size: 2.5rem;
    margin-left: 1rem; }
  .logo-left__24 {
    color: #d4000e;
    font-weight: 300; }
  .logo-left__news {
    color: #49494d; }
  .logo-left__source {
    color: #2c2c34;
    font-size: 1.6rem;
    font-weight: 400; }

.top-menu__underlay {
  background-color: #2c2c34;
  grid-area: 1 / 1 / 1 / 15; }

.top-menu {
  color: #BBBABB;
  display: flex; }
  .top-menu a {
    padding: 0 1.25rem;
    border-left: 1px solid #4c4c59; }
  .top-menu a:hover,
  .top-menu a:active {
    color: #fff;
    cursor: pointer;
    transition: all .2s; }
  .top-menu__icons {
    display: flex; }
    .top-menu__icons a:hover,
    .top-menu__icons a:active {
      color: #fff; }
    .top-menu__icons a:nth-child(1):hover {
      background-color: #0077b5; }
    .top-menu__icons a:nth-child(2):hover {
      background-color: #4078c0; }
    .top-menu__icons a:nth-child(3):hover {
      background-color: #f48024; }
  .top-menu__phone, .top-menu__email {
    display: flex; }
    .top-menu__phone i, .top-menu__email i {
      padding-right: 0.5rem; }
  .top-menu__search {
    display: flex;
    justify-content: flex-end;
    position: relative; }
    .top-menu__search-button {
      background-color: #d4000e;
      border: none;
      padding: 1.2rem;
      color: #dddde7;
      font-size: 1.5rem;
      z-index: 10; }
      .top-menu__search-button:focus {
        outline: none; }
      .top-menu__search-button:hover {
        cursor: pointer; }
    .top-menu__search:hover .top-menu__search-input {
      width: 20rem;
      cursor: pointer; }
    .top-menu__search-input {
      border: none;
      transition: all .5s ease-in-out;
      position: absolute;
      padding: 0 1rem;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      z-index: 0; }
      .top-menu__search-input:focus {
        outline: none;
        width: 20rem; }

.container {
  display: grid;
  grid-template-rows: [top-menu] auto [logo] 13rem [categories] auto [countries] auto [header] 40rem [breaking] auto [stories-by-countries-display] 60rem [articles] 60rem [featured] 30rem [videos] 60rem [footer] 60rem [footer-end];
  grid-template-columns: 1fr repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) 1fr; }

.top-menu__wrapper-left {
  grid-area: 1 / 2 / 1 / 6; }

.top-menu__search {
  grid-area: 1 / 8 / 1 / 10; }

.logo-container {
  grid-area: 2 / 2 / 2 / 10;
  display: grid;
  align-items: center; }
