#articles {
  width: 25rem; }
  #articles img {
    width: 100%; }

.headlines {
  display: flex; }

.article-wrapper {
  width: 20rem; }
  .article-wrapper__headline img {
    width: 100%; }

body {
  color: green; }
